* {
    margin: 0;
    box-sizing: 0;
    padding: 0;
    text-decoration: none;
}


a.gender {
    font-size: 14px;
}

a.gender.active {
    padding: 0 2px;
    border-bottom: 1px solid currentColor;
}

:root {
    --primary-color: #ff2a00;
    --secondary-color: #26ff00;
    --bg-color: white;
    --bg-color-secondary: hsl(0, 0%, 95%);
    --bg-color-tertiary: hsl(0, 0%, 84%);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1.heading {
    padding: 1.5rem 0;
    padding-left: 2rem;
}

header p {
    margin: 0 auto;
    max-width: 70ch;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 1rem;
}

nav h2 {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: currentColor
}


nav a.active {
    color: var(--primary-color);
    font-weight: 600;
}

/* Style the main content area */


.welcome {
    text-align: center;
    margin-bottom: 40px;
    padding: 1.5rem .5rem;
    padding-bottom: 0;
}

.welcome h1 {
    font-size: 24px;
}

.welcome p {
    font-size: 18px;
    padding-top: 10px;
}

/* Style the footer */
footer {
    background-color: var(--bg-color-secondary);
    text-align: center;
    padding: 10px 0;
}


.flex-between {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

main {
    display: block;
    max-width: 95vw;
    padding: .2rem;
    padding-top: 0;
    margin: 0 auto;
}

main section {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;

}

/* Manager Page */

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* Add hover effect to table rows */
tr .date {
    display: inline-block;
    font-size: 14px;
}

tr .remarks {
    display: inline-block;
    max-width: 40ch;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
}

tr:hover {
    background-color: #f5f5f5;
}


/* Pagination container */
.pagination {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #ddd;
    padding: 1rem;
}

/* Pagination links */
.pagination a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
    padding: 4px 8px;
    border: 1px solid currentColor;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: all 300ms;
}

.pagination a:hover {
    color: #0e69c9;
}

/* Current page style */
.pagination .current-page {
    /* font-weight: bold; */
    font-size: 12px;
    margin: 0 5px;
}

/* Styles for the search container */

.search-container {
    padding-top: 1rem;

}

.search-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

/* Styles for the search input field */
.search-input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    border: 2px solid #ddd;
}

.search-input:focus {
    border-color: var(--secondary-color);
}

/* Styles for the search button */
.search-button {
    background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    width: 100px;
    cursor: pointer;
    transition: all 500ms;
    height: 38px;
    font-size: large;
}

.search-button:hover {
    /* background-color: #0056b3; */
    background: linear-gradient(to left, var(--primary-color), var(--secondary-color));
}

table .sort {
    cursor: pointer;
    transition: all 300ms;
    border: 0;
    background: none;
    opacity: .85;
}



table .sort:hover {
    opacity: 1;
}

table .sort svg {
    fill: currentColor;
}