<table class="app-table" id="currentBranch">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Region</th>
      <th>Branch Telephone</th>
      <th>Date Posted</th>
    </tr>
  </thead>
  <tbody>
    <td>{{ branch.name }}</td>
    <td>
      {# prettier-ignore #}
      {% if not download %}
        <a class="table-link" href="{{ branch.company.abs_path }}">
              {{ branch.company.name }}
        </a>
      {% else %}
      {{ branch.company.name }}
      {% endif %}
    </td>
    <td>{{ branch.region.name.upper }}</td>
    <td>
      <span class="date">{{ branch.manager.phone }}</span>
    </td>
    <td>
      <span class="date">{{ branch.posted_date|date:'jS M Y' }}</span>
    </td>
  </tbody>
</table>
