<table class="app-table">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Company</th>
      <th>
        <div class="flex-between">
          <span>Transfer Date</span>
        </div>
      </th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    {% for transfer in transfers %}
      <tr>
        <td>
          <span class="remarks">{{ transfer.from_branch.name }}</span>
        </td>
        <td>
          <span class="remarks">{{ transfer.to_branch.name }}</span>
        </td>
        <td>
          {% if not download %}
            <a href="{{ transfer.manager.company.abs_path }}" class="table-link name">{{ transfer.manager.company.name }}</a>
          {% else %}
            {{ transfer.manager.company.name }}
          {% endif %}
        </td>
        <td>
          <span class="date">{{ transfer.transfer_date|date:'jS M Y' }}</span>
        </td>
        <td>
          <span class="remarks">{{ transfer.remarks }}</span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
