<table class="app-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Manager</th>
      <th>Region</th>
    </tr>
  </thead>

  <tbody>
    {% for branch in branches_page %}
      {# prettier-ignore-start #}
      <tr>
        <td>{{ branch.name }}</td>
        <td>
          <a class="table-link" href="{{ branch.company.abs_path }}">
            {{ branch.company.name }}
          </a>
        </td>
        <td>
            <a class="table-link name" href="{{ branch.manager.abs_path }}">
              {{ branch.manager.name }}
            </a>
        </td>
        <td>{{ branch.region.name.upper }}</td>
      </tr>
      {# prettier-ignore-end #}
    {% endfor %}
  </tbody>
</table>

{% include 'app/partials/paginator.html' with paginator_obj=branches_page triggerTarget="#branchesList" model="branches" %}
