<table class="app-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Town</th>
      <th>Phone</th>
      <th>Street Number</th>
      <th>Street Number</th>
    </tr>
  </thead>
  <tbody>
    {% for company in companies_page %}
      <tr>
        <td>
          {# prettier-ignore #}
          <a class="table-link"  href="{{company.abs_path}}">{{ company.name }}</a>
        </td>
        <td>{{ company.town }}</td>
        <td>{{ company.phone_number }}</td>
        <td>{{ company.street_name }}</td>
        <td>{{ company.street_number }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if not companies_page %}
  <p>No Results Found</p>
{% endif %}

{% include 'app/partials/paginator.html' with paginator_obj=companies_page triggerTarget="#companiesList" model="companies" %}

