<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Town</th>
      <th>Phone</th>
      <th>Street Number</th>
      <th>Street Number</th>
    </tr>
  </thead>
  <tbody>
    {% for company in companies_page %}
      <tr>
        <td>
          {# prettier-ignore #}
          <a class="table-link" href="{% url 'company_details' id=company.id %}">{{ company.name }}</a>
        </td>
        <td>{{ company.town }}</td>
        <td>{{ company.phone_number }}</td>
        <td>{{ company.street_name }}</td>
        <td>{{ company.street_number }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if not companies_page %}
  <p style="padding: 1rem;">No Results Found</p>
{% endif %}

{% if companies_page.has_previous or companies_page.has_next %}
  <div class="pagination">
    <span class="step-links">
      {% if companies_page.has_previous %}
        {% if companies_page.number > 2 %}
          <a hx-target="#companyList" hx-trigger="click" hx-get="paginate?m=company&page=1">&laquo; First Page</a>
        {% endif %}
        <a hx-target="#companyList" hx-trigger="click" hx-get="paginate?m=company&page={{ companies_page.previous_page_number }}">Prev</a>
      {% endif %}

      {% if companies_page.has_next %}
        <a hx-target="#companyList" hx-trigger="click" hx-get="paginate?m=company&page={{ companies_page.next_page_number }}">Next</a>
        <a hx-target="#companyList" hx-trigger="click" hx-get="paginate?m=company&page={{ companies_page.paginator.num_pages }}">Last Page &raquo;</a>
      {% endif %}
    </span>
    <span class="current-page">Page {{ companies_page.number }} of {{ companies_page.paginator.num_pages }}.</span>
  </div>
{% endif %}
