<table class="app-table">
  <thead class="">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Company</th>
      <th>Branch</th>
      <th>Phone</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody class="">
    {% for manager in managers_page %}
      <tr>
        {# prettier-ignore-start #}
        <td>
          {{manager.id}}
  
        </td>
        <td>
         <a class="table-link name"  href="{{manager.abs_path}}">
                {{manager.name}}
            </a>
        </td>
        <td>
          <a class="table-link"  href="{{manager.company.abs_path}}">
            {{ manager.company.name }}
          </a> 
          {% comment %} {{manager.company.id}} {% endcomment %}
        </td>
        <td>
            {{ manager.branch.name }}
        </td>
        <td>
          <span class="date">{{ manager.phone }}</span>
        </td>
        <td>{{ manager.gender.capitalize }}</td>
        {# prettier-ignore-end #}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if not managers_page %}
  <p>No Results Found</p>
{% endif %}

<span>

  {% include 'app/partials/paginator.html' with paginator_obj=managers_page triggerTarget="#managersList" model="managers" %}
</span>
