<table>
  <thead>
    <tr>
      <th>
        <div class="flex-between">
          <span>Manager</span>

        </div>
      </th>
      <th>From</th>
      <th>To</th>
      <th>
        <div class="flex-between">
          <span>Transfer Date</span>
        </div>
      </th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    {% for transfer in transfers_page %}
      <tr>
        <td>
          {# prettier-ignore #}
          <a href="{% url 'manager_details' transfer.manager.id %}" class="table-link">
            {{ transfer.manager.name }}
          </a>
        </td>
        <td>{{ transfer.from_branch.name }}</td>
        <td>{{ transfer.to_branch.name }}</td>
        <td>
          <span class="date">{{ transfer.transfer_date|date:'jS M Y' }}</span>
        </td>
        <td>
          <span class="remarks">{% lorem %}</span>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% if not transfers_page %}
  <p style="padding: 0.5rem 1rem; font-size: 14px">No recent transfer</p>
{% endif %}

{% if transfers_page.has_previous or transfers_page.has_next %}
  <div class="pagination">
    <span class="step-links">
      {% if transfers_page.has_previous %}
        {% if transfers_page.number > 2 %}
          <a hx-target="#transfersList" hx-trigger="click" hx-get="/paginate?m=transfers&page=1">&laquo; First Page</a>
        {% endif %}
        <a hx-target="#transfersList" hx-trigger="click" hx-get="/paginate?m=transfers&page={{ transfers_page.previous_page_number }}">Prev</a>
      {% endif %}

      {% if transfers_page.has_next %}
        <a hx-target="#transfersList" hx-trigger="click" hx-get="/paginate?m=transfers&page={{ transfers_page.next_page_number }}">Next</a>
        <a hx-target="#transfersList" hx-trigger="click" hx-get="/paginate?m=transfers&page={{ transfers_page.paginator.num_pages }}">Last Page &raquo;</a>
      {% endif %}
    </span>
    <span class="current-page">Page {{ transfers_page.number }} of {{ transfers_page.paginator.num_pages }}.</span>
  </div>
{% endif %}
