{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% if active_tab.lower != 'home' %}
            {{ active_tab.capitalize }} |
            {% endif %}
            Nifty's Assessment
        </title>

        <link rel="stylesheet" href="{% static 'css/styles-min.css' %}" />

        <script defer src="{% static 'js/htmx.js' %}"></script>
        <script defer src="{% static 'js/alpine.js' %}"></script>
        <script defer src="{% static 'js/docSaver.js' %}"></script>

        <script>
            var CSRF_TOKEN = "{{ csrf_token }}"
        </script>
    </head>
    <body class="">
        <header class="block">
            <nav class="flex px-2 md:px-4 shadow bg-white justify-between py-4">
                <a href="/" class="brand-logo black-text text-lighten-2"
                    ><h2 class="font-semibold text-xl">RMS Software</h2></a
                >
                <ul
                    x-data="{activeTab:'{{active_tab}}'}"
                    id="nav-mobile"
                    class="flex gap-6 items-center"
                >
                    <li>
                        <a
                            :class="{'active':activeTab == 'home'}"
                            class="black-text text-lighten-2"
                            href="/"
                            >Home</a
                        >
                    </li>
                    <li>
                        <a
                            :class="{'active':activeTab == 'companies'}"
                            class="black-text text-lighten-2"
                            href="/companies"
                            >Companies</a
                        >
                    </li>
                    <li>
                        <a
                            :class="{'active':activeTab == 'managers'}"
                            class="black-text text-lighten-2"
                            href="/managers"
                            >Managers</a
                        >
                    </li>
                    <li>
                        <a
                            :class="{'active':activeTab == 'branches'}"
                            class="black-text text-lighten-2"
                            href="/branches"
                            >Branches</a
                        >
                    </li>
                    <li>
                        <a
                            :class="{'active':activeTab == 'transfers'}"
                            class="black-text text-lighten-2"
                            href="/transfer-histories"
                            >All Transfers</a
                        >
                    </li>
                </ul>
            </nav>

            <section
                class="welcome pt-4 flex flex-col justify-center items-center"
            >
                {% block header %}
                <h1>Welcome to Your Financial Management System</h1>
                <p>
                    Manage your company, regions, branches, and managers with
                    ease.
                </p>
                {% endblock %}
            </section>
        </header>
        <main class="p-4 pt-1 min-h-[calc(100vh-70px)]">
            {% block content %} {% endblock %}
        </main>

        {% block scripts %}{% endblock scripts %}

        <footer class="py-2 w-full flex justify-center ox-2 bg-gray-100">
            <p class="opacity-80 text-sm">&copy; 2023 All rights reserved</p>
        </footer>
    </body>
</html>
