{% extends 'app/base.html' %}

<!-- Header -->
{% block header %}
  <h1 class="heading" style="margin: 0;padding: 0;">{{ company.name }}</h1>
  <p class="text-center">
    {{ company.town }}, {{ company.street_number }} {{ company.street_name }} <br /> <small>Tel:</small> <span style="font-size:14px">{{ company.phone_number }}</span>
  </p>
{% endblock %}
<!-- Content -->
{% block content %}
  <section class="">
    <div class="flex justify-between items-center gap-4 pb-1">
      <h3 class="font-bold text-xl tracking-wide">Branches</h3>
    </div>
    <div id="branchesList">
      {% include 'app/partials/branch-list.html' %}
    </div>
  </section>

  <section class="">
    <div class="flex justify-between items-center gap-4 pb-1">
      <h3 class="font-bold text-xl tracking-wide">Managers</h3>
    </div>

    <div id="managersList">
      {% include 'app/partials/manager-list.html' %}
    </div>
  </section>
{% endblock %}
